* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Urbanist", sans-serif;
}

/* ............................... NAVIGATION SECTION ............................. */
nav {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
}
nav > .navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > .navMenu > .leftNav {
    flex: 1;
    
}
nav > .navMenu > .leftNav > .logo {
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav > .navMenu > .centerNav {
    flex: 2;
}

nav > .navMenu > .centerNav > ul {
    display: flex;
   align-items: center;
   justify-content: center;


}

nav > .navMenu > .centerNav > ul > li {
    list-style: none !important;
    margin-right: 1rem;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.3rem;

}

nav > .navMenu > .centerNav > ul > li:hover {
    
    font-weight: 600;
    

}

nav > .navMenu > .rightNav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

nav > .navMenu > .rightNav > .cartIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

}

nav > .navMenu > .rightNav > .cartIcon > .fas {
    margin-right: 1rem;

}
nav > .navMenu > .rightNav > .cartIcon > .fas > .cartItem {
    vertical-align: super;

}

/* .................................. SLIDER SECTION ........................................... */
#sliderSection {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
#sliderSection > .arrowLeft, #sliderSection > .arrowRight {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff7f7;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 5;
    opacity: 0.5;

}

#sliderSection > .arrowLeft {
    left: 0.5rem
}
#sliderSection > .arrowRight {
    right: 0.5rem
}

#sliderSection > .sliderWrapper {
    display: flex;
    height: 100%;
    
}

#sliderSection > .sliderWrapper > .slides {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#sliderSection > .sliderWrapper > .slides > .sliderImgContainer {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sliderSection > .sliderWrapper > .slides > .sliderImgContainer > img {
    
    height: 80%;
}

#sliderSection > .sliderWrapper > .slides > .sliderInfoContainer {
    flex: 1;
}

.sliderInfoContainer > h1 {
    font-size: 4.375rem;
    font-family: 'Roboto', sans-serif;
}

.sliderInfoContainer > p {
    margin: 3.125rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1875rem;
    width: 80%;
    
}

/* ............................... PRODUCT SECTION .................................... */

#products {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

#products > h1 {
    margin: 5rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#products > .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 3rem;
}

#products > .productContainer > .productCard {
    width: 22%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    /* border-top-left-radius: 0.825rem;
    border-top-right-radius: 0.825rem; */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;

}



#products > .productContainer > .productCard > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    
}

#products > .productContainer > .productCard > .productInfoContainer {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

#products > .productContainer > .productCard > .productInfoContainer:hover {
    opacity: 1;
    
}

#products > .productContainer > .productCard > .productInfoContainer > .productIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    margin: 0.625rem;
    padding:0.625rem;
    transition: all 0.5s ease; 
}
#products > .productContainer > .productCard > .productInfoContainer > .productIcon {
    
    background-color: #f5fbfd;
    
}

/* .................................... FOOTER SECTION .................................. */

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 3rem;
    height: 30vh;
   
  }
 
  #footer > .footerContainer {
    display: flex;
    margin-top: 3rem;
    height: 20vh;
  }
  #footer > .footerContainer > .footerLeft {
    flex:1;
    
  }

  #footer > .footerContainer > .footerLeft > h2 {
    margin-bottom: 1rem;
    font-weight: 600;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
  } 

  .footerLeft > .socialContainer {
    display: flex;
    align-items: center;
    padding: 1rem 0;
   
  }
  .footerLeft > .socialContainer > .fab {
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }
  #footer i{
      margin-left: 0.5em;
      margin-right: 0.5em;

  }
  #footer > .footerContainer > .footerCenter {
    flex:1;
    text-align: center;
    line-height: 1.5;
  }
  #footer > .footerContainer > .footerCenter > h2 {
    margin-bottom: 1rem;
    font-weight: 600;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
  }
  #footer > .footerContainer > .footerCenter > p {
    font-weight: 300;
    opacity: 0.6;
  }
  #footer > .footerContainer > .footerRight {
    flex:1;
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }

  
  .icon {
    margin: 0.7rem;
  }
  .icon > .fas {
    margin-right: 0.7rem;
  }
  
  .fa-facebook-f:hover {
      background-color: #3B5999;
  }

  .fa-twitter:hover {
      background-color: #55ACEE;
  }

  .fa-instagram:hover {
      background-color: #E60023;
  }

  .footerContainer > hr {
    width: 70%;
    margin: auto;
    border: 1px solid lightgray;
    opacity: 0.1;
    
  }
 
  .payment{
      width: 70%;
     
  }

  @media screen and (max-width: 480px){
      #footer{
        margin: 0;
        display: flex;
        flex-direction: column;
        height:55vh;

        

      }
      #footer h1{
          margin: 0;
      }
      .footerContainer{
          display: flex;
          flex-direction: column;
          margin: 0;
          
          
      }
      .socialContainer{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content:space-evenly;
          margin-bottom: 0.6em;
          
      }
      .footerCenter{
          margin-bottom:0.4em;
      }
      .footerRight{
          text-align: center;
      }
      
  }

  